.additional {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    color: hsl(217, 10%, 61%);
    padding-top: 20px;
  }