.status {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0;
    text-align: center;
    color: #519C66;
  }


  .brand {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    color: rgb(47, 47, 230);
  }