
.bateris {
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #5E687C;
  }


  

.viewall {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  color: #9098A5;

}
  